@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes EK_anim-show {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes EK_anim-show {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.EK_anim-show {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: EK_anim-show;
          animation-name: EK_anim-show;
}

@-webkit-keyframes EK_slide_menu {
  from {
    margin: 0 0 0 100%;
  }
  to {
    margin: 0 0 0 0%;
  }
}

@keyframes EK_slide_menu {
  from {
    margin: 0 0 0 100%;
  }
  to {
    margin: 0 0 0 0%;
  }
}
.EK_slide_menu {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: EK_slide_menu;
          animation-name: EK_slide_menu;
}

@font-face {
  font-family: "PoiretOne-R";
  src: url("../../fonts/Poiret_One/PoiretOne-RegularMY.ttf");
}
body::-webkit-scrollbar, .modalWindow::-webkit-scrollbar, .modalWrapper::-webkit-scrollbar {
  width: 0.5%;
}
body::-webkit-scrollbar-track, .modalWindow::-webkit-scrollbar-track, .modalWrapper::-webkit-scrollbar-track {
  background-color: #586e58;
}
body::-webkit-scrollbar-thumb, .modalWindow::-webkit-scrollbar-thumb, .modalWrapper::-webkit-scrollbar-thumb {
  background-color: #00272c;
}

.Ek_shop_navigate::-webkit-scrollbar {
  height: 0;
  opacity: 0;
}
.Ek_shop_navigate::-webkit-scrollbar-track {
  background-color: #586e58;
}
.Ek_shop_navigate::-webkit-scrollbar-thumb {
  background-color: #ebb370;
}

.PoiretOne, .EK_text-Btn, .EK_Btn-clr, .EK_Btn-stnd, .EK_text-T2, .EK_mailing_submit, .EK_Form-textArea, .EK_Form-inputUnderlineWhite, .EK_Form-inputUnderlineBlack, .EK_Form-inputBorder, .EK_text-T1, .EK_text-H2, .EK_Btn-link, .EK_text-H1, .EK_text-H {
  font-family: PoiretOne-R, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #00272c;
}

.EK_text-H {
  font-size: 64px;
  line-height: 75px;
}

.EK_text-H1 {
  font-size: 36px;
  line-height: 42px;
}

.EK_text-H2, .EK_Btn-link {
  font-size: 24px;
  line-height: 28px;
}

.EK_text-T1 {
  font-size: 18px;
  line-height: 21px;
}

.EK_text-T2, .EK_mailing_submit, .EK_Form-textArea, .EK_Form-inputUnderlineWhite, .EK_Form-inputUnderlineBlack, .EK_Form-inputBorder {
  font-size: 14px;
  line-height: 16px;
}

.EK_text-Btn, .EK_Btn-clr, .EK_Btn-stnd {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5px;
}

.EK_Btn-stnd {
  background-color: #586e58;
}

.EK_Btn-clr {
  border: 0.5px solid white;
  background: none;
  color: white;
  cursor: pointer;
}
.EK_Btn-clr:visited {
  outline: none;
}
.EK_Btn-clr:focus {
  outline: none;
}

.EK_Btn-link {
  color: #00272c;
  cursor: pointer;
}
.EK_Btn-link:visited {
  outline: none;
}
.EK_Btn-link:focus {
  outline: none;
}

.EK_Btn-icon {
  width: 18px;
  height: 18px;
  fill: white;
  cursor: pointer;
}

.EK_Btn-iconBigBlack, .EK_Btn-icon-BIgWhite {
  width: 60px;
  height: 60px;
  fill: #00272c;
}
.EK_Btn-iconBigBlack use:nth-child(1), .EK_Btn-icon-BIgWhite use:nth-child(1) {
  fill: #00272c;
}
.EK_Btn-iconBigBlack use:nth-child(2), .EK_Btn-icon-BIgWhite use:nth-child(2) {
  stroke: #00272c;
  fill: none;
  stroke-width: 2;
}

.EK_Btn-icon-BIgWhite {
  fill: white;
}
.EK_Btn-icon-BIgWhite use:nth-child(1) {
  fill: white;
  stroke: white;
  stroke-width: 0;
}
.EK_Btn-icon-BIgWhite use:nth-child(2) {
  stroke: white;
}

.EK_Form-inputBorder {
  padding: 0 0 0 10px;
  border: 0.5px solid #00272c;
  color: #00272c;
  background-color: rgba(0, 0, 0, 0);
}
.EK_Form-inputBorder:-webkit-autofill {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.EK_Form-inputBorder::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputBorder:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputBorder::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputBorder::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputBorder:focus {
  outline: none;
}
.EK_Form-inputBorder:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.EK_Form-inputUnderlineWhite, .EK_Form-inputUnderlineBlack {
  padding: 0 0 5px 10px;
  border-bottom: 0.5px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  background: none;
  color: white;
}
.EK_Form-inputUnderlineWhite:-webkit-autofill, .EK_Form-inputUnderlineBlack:-webkit-autofill {
  box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: white;
}
.EK_Form-inputUnderlineWhite::-moz-placeholder, .EK_Form-inputUnderlineBlack::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: white;
}
.EK_Form-inputUnderlineWhite:-ms-input-placeholder, .EK_Form-inputUnderlineBlack:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: white;
}
.EK_Form-inputUnderlineWhite::-ms-input-placeholder, .EK_Form-inputUnderlineBlack::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: white;
}
.EK_Form-inputUnderlineWhite::placeholder, .EK_Form-inputUnderlineBlack::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: white;
}
.EK_Form-inputUnderlineWhite:focus, .EK_Form-inputUnderlineBlack:focus {
  outline: none;
  color: #ebb370;
}
.EK_Form-inputUnderlineWhite:focus::-moz-placeholder, .EK_Form-inputUnderlineBlack:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineWhite:focus:-ms-input-placeholder, .EK_Form-inputUnderlineBlack:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineWhite:focus::-ms-input-placeholder, .EK_Form-inputUnderlineBlack:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineWhite:focus::placeholder, .EK_Form-inputUnderlineBlack:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.EK_Form-inputUnderlineBlack {
  border-bottom: 0.5px solid #00272c;
  color: #00272c;
}
.EK_Form-inputUnderlineBlack:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #00272c;
  -webkit-text-fill-color: #00272c;
}
.EK_Form-inputUnderlineBlack::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputUnderlineBlack:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputUnderlineBlack::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputUnderlineBlack::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #00272c;
}
.EK_Form-inputUnderlineBlack:focus {
  outline: none;
}
.EK_Form-inputUnderlineBlack:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineBlack:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineBlack:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputUnderlineBlack:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.EK_Form-textArea {
  height: 100px;
  padding: 5px 0 0 10px;
  border: 0.5px solid white;
  color: white;
  background: none;
  resize: none;
  overflow: auto;
}
.EK_Form-textArea::-moz-placeholder {
  color: white;
}
.EK_Form-textArea:-ms-input-placeholder {
  color: white;
}
.EK_Form-textArea::-ms-input-placeholder {
  color: white;
}
.EK_Form-textArea::placeholder {
  color: white;
}

.EK_Btn-stnd:hover {
  background-color: #ebb370;
  color: white;
  text-decoration: none;
}

.EK_Btn-clr:hover {
  color: #ebb370;
  border: 0.5px solid #ebb370;
  outline: none;
}

.EK_Btn-link:hover, .EK_Btn-icon:hover {
  color: #ebb370;
  fill: #ebb370;
  text-decoration: none;
}
.EK_Btn-link:focus, .EK_Btn-icon:focus {
  text-decoration: none;
}

.EK_Btn-iconBigBlack:hover use:nth-child(1), .EK_Btn-icon-BIgWhite:hover use:nth-child(1) {
  fill: #ebb370;
  stroke: #ebb370;
  stroke-width: 0;
}
.EK_Btn-iconBigBlack:hover use:nth-child(2), .EK_Btn-icon-BIgWhite:hover use:nth-child(2) {
  stroke: #ebb370;
}

.EK_Form-inputBorder:hover, .EK_Form-inputUnderlineWhite:hover, .EK_Form-inputUnderlineBlack:hover, .EK_Form-textArea:hover {
  color: #ebb370;
  border-color: #ebb370;
}
.EK_Form-inputBorder:hover:-webkit-autofill, .EK_Form-inputUnderlineWhite:hover:-webkit-autofill, .EK_Form-inputUnderlineBlack:hover:-webkit-autofill, .EK_Form-textArea:hover:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #ebb370;
  -webkit-text-fill-color: #ebb370;
}
.EK_Form-inputBorder:hover::-moz-placeholder, .EK_Form-inputUnderlineWhite:hover::-moz-placeholder, .EK_Form-inputUnderlineBlack:hover::-moz-placeholder, .EK_Form-textArea:hover::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #ebb370;
}
.EK_Form-inputBorder:hover:-ms-input-placeholder, .EK_Form-inputUnderlineWhite:hover:-ms-input-placeholder, .EK_Form-inputUnderlineBlack:hover:-ms-input-placeholder, .EK_Form-textArea:hover:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #ebb370;
}
.EK_Form-inputBorder:hover::-ms-input-placeholder, .EK_Form-inputUnderlineWhite:hover::-ms-input-placeholder, .EK_Form-inputUnderlineBlack:hover::-ms-input-placeholder, .EK_Form-textArea:hover::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #ebb370;
}
.EK_Form-inputBorder:hover::placeholder, .EK_Form-inputUnderlineWhite:hover::placeholder, .EK_Form-inputUnderlineBlack:hover::placeholder, .EK_Form-textArea:hover::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #ebb370;
}
.EK_Form-inputBorder:focus, .EK_Form-inputUnderlineWhite:focus, .EK_Form-inputUnderlineBlack:focus, .EK_Form-textArea:focus {
  outline: none;
  border-color: #ebb370;
  color: #ebb370;
}
.EK_Form-inputBorder:focus::-moz-placeholder, .EK_Form-inputUnderlineWhite:focus::-moz-placeholder, .EK_Form-inputUnderlineBlack:focus::-moz-placeholder, .EK_Form-textArea:focus::-moz-placeholder {
  color: #ebb370;
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus:-ms-input-placeholder, .EK_Form-inputUnderlineWhite:focus:-ms-input-placeholder, .EK_Form-inputUnderlineBlack:focus:-ms-input-placeholder, .EK_Form-textArea:focus:-ms-input-placeholder {
  color: #ebb370;
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus::-ms-input-placeholder, .EK_Form-inputUnderlineWhite:focus::-ms-input-placeholder, .EK_Form-inputUnderlineBlack:focus::-ms-input-placeholder, .EK_Form-textArea:focus::-ms-input-placeholder {
  color: #ebb370;
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.EK_Form-inputBorder:focus::placeholder, .EK_Form-inputUnderlineWhite:focus::placeholder, .EK_Form-inputUnderlineBlack:focus::placeholder, .EK_Form-textArea:focus::placeholder {
  color: #ebb370;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.EK_Btn-link-active {
  color: #ebb370;
  fill: #ebb370;
  text-decoration: none;
}

.EK_Btn-stnd {
  cursor: pointer;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.EK_Btn-stnd:visited {
  outline: none;
  text-decoration: none;
}
.EK_Btn-stnd:focus {
  outline: none;
  text-decoration: none;
}

.EK_Form-inputBorder:hover {
  color: white;
  border-color: white;
}
.EK_Form-inputBorder:hover::-moz-placeholder {
  color: white;
}
.EK_Form-inputBorder:hover:-ms-input-placeholder {
  color: white;
}
.EK_Form-inputBorder:hover::-ms-input-placeholder {
  color: white;
}
.EK_Form-inputBorder:hover::placeholder {
  color: white;
}
.EK_Form-inputBorder:focus {
  color: white;
  border-color: white;
}
.EK_Form-inputBorder:focus::-moz-placeholder {
  color: white;
}
.EK_Form-inputBorder:focus:-ms-input-placeholder {
  color: white;
}
.EK_Form-inputBorder:focus::-ms-input-placeholder {
  color: white;
}
.EK_Form-inputBorder:focus::placeholder {
  color: white;
}

.EK_sep_line {
  border-bottom: 0.5px solid #00272c;
  opacity: 0.5;
}

.EK_overflow_hidden {
  overflow: hidden;
  margin: 0 0.5% 0 0;
}

.EK_overflow_auto {
  overflow: auto;
}

html, body {
  background-color: white;
}

.EK {
  position: relative;
}

.EK_container {
  background-color: white;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.EK_customer_bin_logo {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  bottom: initial;
  height: 0;
  text-align: right;
  margin: 0 8.33% 0 0;
  cursor: pointer;
}

.EK_customer_bin_dot {
  background-color: #ebb370;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  text-align: right;
  margin: 0 8.33% 0 0;
}

.EK_customer_bin-ico {
  margin: 10px 0 0 0;
  z-index: 1000;
}

.EK_header {
  min-height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20% 0 8.33%;
}

.EK_header_title {
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
}

.EK_menu {
  flex-grow: 1;
  text-align: right;
  margin: 16px 0 0 0;
}

.EK_menu_item {
  margin: 0 0 0 2.7%;
}

.EK_separator {
  margin: 0 0 240px 0;
}

.EK_sep_header {
  margin: 0 0 60px 8.33%;
}

.EK_sep_hello {
  background: url("../../img/backGrounds/Hello.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 189px 0 0 8.33%;
}

.EK_sep_hello-text {
  color: white;
  max-width: 500px;
}

.EK_sep_about-content {
  min-height: 630px;
  background: url("../../img/backGrounds/About_1.jpeg"), url("../../img/backGrounds/About_3.svg"), url("../../img/backGrounds/About_2.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 737px 396px, 700px 315px, 380px 569px;
  background-position: right 900px top 0, 45% 100%, left 960px top 0;
}

.EK_sep_about-text {
  margin: 0 0 35px 40.2%;
  padding: 65px 0 0 0;
  max-width: 380px;
}

.Ek_sep_shop {
  margin: 0 0 120px 0;
}

.EK_shop {
  margin: 0 8.33% 0 8.33%;
}

.Ek_shop_navigate {
  margin: 0 0 60px 0;
  overflow: visible;
}

.Ek_shop_navigate_link {
  margin: 0 2.7% 0 0;
}

.Ek_shop_showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.EK_shop_item {
  width: 30%;
  margin: 0 5% 120px 0;
}
.EK_shop_item:nth-child(3n) {
  margin: 0 0 120px 0;
}

.EK_shop_item_img {
  width: 100%;
  margin: 0 0 30px 0;
}

.EK_shop_item_line {
  margin: 15px 0 15px 0;
}

.EK_shop_item_sep {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.EK_shop_item_btn {
  width: 160px;
  height: 48px;
}

.EK_shop_item_price {
  position: relative;
  padding: 0 8px 0 0;
}

.EK_mailing {
  min-height: 283px;
  background: url("../../img/backGrounds/mailing.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EK_mailing_box {
  width: 39%;
  min-height: 163px;
  background-color: rgba(235, 179, 112, 0.9);
  margin: 0 30.5% 0 30.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.EK_mailing_text {
  max-width: 350px;
}

.EK_mailing_form {
  position: relative;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.EK_mailing_form_errors {
  min-width: 300px;
  position: absolute;
  left: 0;
  bottom: -16px;
}

.EK_mailing_input {
  padding: 0 0 0 10px;
  height: 26px;
  flex-shrink: 2;
  flex-grow: 2;
}

.EK_mailing_submit {
  width: 92px;
  margin: 0 0 0 10px;
  color: #00272c;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid #00272c;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.EK_mailing_submit:hover {
  border: 0.5px solid white;
  color: white;
}

.EK_pay {
  margin: 0 13.9% 240px 13.9%;
}

.EK_pay_header {
  margin: 0 0 60px 0;
}

.EK_pay_sep {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.EK_pay_block {
  width: 340px;
}

.EK_pay_line {
  margin: 15px 0 30px 0;
  width: 240px;
}

.EK_pay_list {
  padding: 0 0 0 0;
  list-style-type: none;
}

.EK_pay_list_item {
  margin: 0 0 5px 0;
}

.EK_pay_price {
  position: relative;
  padding: 0 8px 0 0;
}

.EK_questions {
  margin: 0 8.33% 240px 8.33%;
  min-height: 844px;
  background: url("../../img/backGrounds/QQ.jpeg"), url("../../img/backGrounds/QQ2.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 751px, 900px 775px;
  background-position: right 700px bottom 0, right 60px top 0;
}

.EK_questions_header {
  margin: 0 0 60px 0;
  color: white;
}

.EK_questions_text {
  color: white;
}

.EK_questions_text-2 {
  margin: 0 0 20px 0;
}

.EK_questions_text-3 {
  padding: 0 0 0 10px;
}

.EK_questions_text-4 {
  text-align: right;
  align-self: flex-end;
  margin-top: 15px;
  width: 240px;
}

.EK_questions_sep {
  width: 340px;
  margin: 0 0 0 50.4%;
  padding: 150px 0 0 0;
  display: flex;
  flex-direction: column;
}

.EK_questions_social {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.EK_questions_icon {
  margin: 0 0 0 20px;
}

.EK_questions_element {
  width: 100%;
  margin: 15px 0 0 0;
  display: block;
}

.EK_questions_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.EK_questions_form_wrapper {
  position: relative;
}

.EK_questions_form_error {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: #ebb370;
}

.EK_questions_form-input {
  padding: 0 0 5px 10px;
}

.EK_questions_form-btn {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  align-self: flex-end;
}

.EK_footer {
  margin: 0 8.33% 40px 8.33%;
}

.EK_footer_sep {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.EK_footer_block {
  display: flex;
  flex-direction: column;
}

.EK_footer_header {
  margin: 40px 0 30px 0;
}

.EK_footer_text {
  margin: 0 0 10px 0;
}

.EK_footer_icon {
  fill: #00272c;
  margin: 0 20px 0 0;
}

.EK_modalBin .modalWrapper-1 {
  background-color: rgba(0, 39, 44, 0.8);
}
.EK_modalBin .modalWrapper-2 {
  max-width: 1440px;
  margin: 0 auto;
}
.EK_modalBin .modalWrapper-3 {
  padding: 140px 0 0 0;
}
.EK_modalBin .modalClose {
  margin: 10px 0 0 0;
}
.EK_modalBin .modalCloseBatton {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  height: 0;
  text-align: right;
  margin: 0 8.33% 0 0;
}

.EK_burgerMenu {
  display: none;
}

.EK_modalMenu .modalWrapper {
  height: 100vh;
  width: 100vw;
}
.EK_modalMenu .modalWrapper-1 {
  background-color: rgba(0, 39, 44, 0.8);
}
.EK_modalMenu .modalCloseBatton {
  position: -webkit-sticky;
  position: sticky;
  height: 0;
  text-align: right;
  top: 10px;
  margin: 0 8px 0 0;
}
.EK_modalMenu .modalCloseBatton .EK_Btn-icon-BIgWhite use:nth-child(1) {
  fill: #00272c;
  stroke: #00272c;
  stroke-width: 0;
}
.EK_modalMenu .modalCloseBatton .EK_Btn-icon-BIgWhite use:nth-child(2) {
  stroke: #00272c;
}
.EK_modalMenu .modalCloseBatton use:nth-child(1) {
  fill: white;
  stroke: white;
  stroke-width: 0;
}
.EK_modalMenu .modalCloseBatton use:nth-child(2) {
  stroke: white;
}
.EK_modalMenu .modalWrapper-3 {
  width: 70%;
  margin: 0 0 0 30%;
}

.EK_customer_bin {
  margin: 0 auto;
  max-width: 760px;
  background-color: white;
  padding: 60px 6.5%;
}

.EK_customer_bin-sep {
  margin: 30px 0;
}

.EK_customer_bin_cart-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.EK_customer_bin_cart_withoutImg {
  margin: 0 0 0 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.EK_customer_bin-btn {
  height: 60px;
  margin: 60px 0 0 0;
  color: white;
}

.EK_customer_bin_cart-img {
  width: 100px;
  height: 100px;
}

.EK_customer_bin_cart-nameCont {
  width: 145px;
}

.EK_customer_bin_cart-countCont {
  margin: 0 80px 0 0;
  width: 65px;
}

.EK_customer_bin_cart-btnDel, .EK_customer_bin_cart-btnAdd, .EK_customer_bin_cart-delItem {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.EK_customer_bin_cart-number {
  display: inline-block;
  width: 25px;
  text-align: center;
}

.EK_customer_bin_cart-btnDel {
  background: url("../../img/ctrlElem/Minus.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.EK_customer_bin_cart-btnAdd {
  background: url("../../img/ctrlElem/Plus.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.EK_customer_bin_cart-delItem {
  display: inline-block;
  background: url("../../img/ctrlElem/Cross.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.EK_customer_bin-total {
  text-align: right;
}

.EK_customer_bin-checkBoxIcon {
  display: inline-block;
  width: 21.5px;
  height: 20px;
}

.EK_customer_bin-text {
  display: inline-block;
}

.use1, .use2 {
  fill: white;
}

.use2 {
  padding: 0 0 0 5px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: appearance;
          animation-name: appearance;
  transition: 1s;
}

.EK_customer_bin-header {
  margin: 80px 0 0 0;
}

.EK_customer_bin-payBlock {
  padding: 0 180px 0 0;
}

.EK_customer_bin-payItem {
  margin: 15px 0 -9px 0;
}

.EK_customer_bin-check-Box {
  margin: 0 30px 0 0;
  display: inline-block;
}

.EK_customer_bin-formDelivery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.EK_customer_bin-formDelivery .EK_customer_bin-formDelivery-wrapper input {
  width: 100%;
  margin: 30px 0 0 0;
}

.EK_customer_bin-promo {
  margin: 0 0 100px 0;
}

.EK_customer_bin-promoBtn, .EK_customer_bin-promoInput {
  color: #586e58;
  border: 0.5px solid #586e58;
}
.EK_customer_bin-promoBtn:hover, .EK_customer_bin-promoInput:hover {
  color: #ebb370;
  border: 0.5px solid #ebb370;
}
.EK_customer_bin-promoBtn:hover::-moz-placeholder, .EK_customer_bin-promoInput:hover::-moz-placeholder {
  color: #ebb370;
}
.EK_customer_bin-promoBtn:hover:-ms-input-placeholder, .EK_customer_bin-promoInput:hover:-ms-input-placeholder {
  color: #ebb370;
}
.EK_customer_bin-promoBtn:hover::-ms-input-placeholder, .EK_customer_bin-promoInput:hover::-ms-input-placeholder {
  color: #ebb370;
}
.EK_customer_bin-promoBtn:hover::placeholder, .EK_customer_bin-promoInput:hover::placeholder {
  color: #ebb370;
}
.EK_customer_bin-promoBtn:focus, .EK_customer_bin-promoInput:focus {
  color: #ebb370;
  border: 0.5px solid #ebb370;
}

.EK_customer_bin-promoInput {
  margin: 30px 20px 0 0;
  display: inline-block;
  width: 260px;
  height: 46px;
  font-size: 18px;
}

.EK_customer_bin-promoBtn {
  line-height: 46px;
  display: inline-block;
  width: 140px;
  height: 46px;
}

.EK_customer_bin-finish_header {
  text-align: center;
  margin: 60px 0 80px 0;
}

.EK_customer_bin-finish_text {
  margin: 0 0 15px 0;
}

.EK_customer_bin-formDelivery-wrapper {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .EK_sep_about-content {
    background-position: right 800px top 0, 45% 100%, left 860px top 0;
  }
}
@media screen and (max-width: 1200px) {
  .EK_sep_about-content {
    background-position: right 750px top 0, 45% 100%, left 840px top 0;
  }

  .EK_questions_sep {
    margin: 0 0 0 45%;
  }
}
@media screen and (max-width: 1100px) {
  .EK_sep_about-content {
    background-position: right 710px top 0, 45% 100%, left 800px top 0;
  }
}
@media screen and (max-width: 1024px) {
  .EK_sep_about-content {
    background-position: right 640px top 0, 45% 100%, left 780px top 0;
  }
}
@media screen and (max-width: 768px) {
  .EK_sep_about-content {
    background-position: right 450px top 0, 100% 100%, left 800px top 0;
  }

  .EK_sep_about-text {
    margin: 0 0 35px 50%;
  }

  .EK_customer_bin {
    max-width: 768px;
  }
}
@media screen and (max-width: 1024px) {
  .EK_Form-inputUnderlineWhite, .EK_Form-inputUnderlineBlack {
    font-size: 14px;
    line-height: 16px;
  }

  .EK_separator {
    margin: 0 0 120px 0;
  }

  .EK_header {
    min-height: 100px;
    padding: 0 2.8% 0 2.8%;
  }

  .EK_header_title {
    font-size: 36px;
    line-height: 42px;
  }

  .EK_menu {
    margin: 12px 0 0 0;
  }

  .EK_menu_item {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_customer_bin_logo {
    position: fixed;
    margin: 0 2.8% 0 0;
    bottom: 90px !important;
    top: initial !important;
    right: 10px;
  }

  .EK_text-H {
    font-size: 36px;
    line-height: 42px;
  }

  .EK_sep_header {
    margin: 0 0 60px 2.8%;
  }
  .EK_sep_header .EK_text-H2, .EK_sep_header .EK_Btn-link {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_sep_hello {
    padding: 90px 0 0 2.8%;
    min-height: 368px;
  }

  .EK_sep_hello-text {
    max-width: 300px;
  }

  .Ek_sep_shop .EK_text-T1 {
    font-size: 16px;
    line-height: 19px;
  }

  .EK_shop {
    margin: 0 2.8% 0 2.8%;
  }

  .Ek_sep_shop {
    margin: 0 0 60px 0;
  }

  .Ek_shop_navigate .EK_text-H2, .Ek_shop_navigate .EK_Btn-link {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_shop_item {
    margin: 0 5% 60px 0;
  }
  .EK_shop_item:nth-child(3n) {
    margin: 0 0 60px 0;
  }

  .EK_shop_item_desc {
    min-height: 95px;
  }

  .EK_shop_item_price {
    order: 0;
  }

  .EK_shop_item_btn {
    order: 1;
    width: 100%;
    margin: 15px 0 0 0;
  }

  .EK_mailing_box {
    width: 80%;
    margin: 0 10% 0 10%;
  }

  .EK_pay {
    margin: 0 5% 120px 5%;
  }

  .EK_pay_block {
    width: 245px;
  }

  .EK_questions {
    margin: 0 0 120px 0;
    min-height: 775px;
    background-size: 100%, 200%;
    background-position: right 500px top 0, right 0 top 0;
  }

  .EK_questions_sep {
    margin: 0 0 0 45%;
  }

  .EK_footer {
    margin: 0 2.8% 30px 2.8%;
  }

  .EK_footer_sep {
    padding: 0;
  }

  .EK_modalBin .modalWrapper-3 {
    padding: 0;
  }
  .EK_modalBin .modalClose {
    margin: -5px 0 0 0;
    fill: #00272c;
  }
  .EK_modalBin .modalClose use:nth-child(1) {
    fill: #00272c;
    stroke: #00272c;
    stroke-width: 0;
  }
  .EK_modalBin .modalClose use:nth-child(2) {
    stroke: #00272c;
  }

  .EK_customer_bin {
    max-width: 1024px;
  }
}
@media screen and (max-width: 760px) {
  .EK_header_title {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_text-H {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_text-H1 {
    font-size: 18px;
    line-height: 21px;
  }

  .EK_text-H2, .EK_Btn-link {
    font-size: 16px;
    line-height: 19px;
  }

  .EK_text-T1 {
    font-size: 14px;
    line-height: 16px;
  }

  .EK_text-T2, .EK_Form-inputBorder, .EK_Form-inputUnderlineWhite, .EK_Form-inputUnderlineBlack, .EK_Form-textArea, .EK_mailing_submit {
    font-size: 12px;
    line-height: 14px;
  }

  .Ek_sep_shop .EK_text-T1 {
    font-size: 12px;
    line-height: 14px;
  }

  .EK_sep_header {
    margin: 0 0 30px 3.5%;
  }

  .EK_separator {
    margin: 0 0 50px 0;
  }

  .EK_sep_hello {
    min-height: 153px;
    padding: 30px 0 0 3.5%;
  }

  .EK_sep_hello-text {
    max-width: 140px;
  }

  .EK_sep_about-content {
    min-height: 235px;
  }
  .EK_sep_about-content .EK_text-H1 {
    font-size: 16px;
    line-height: 19px;
  }
  .EK_sep_about-content .EK_text-H2, .EK_sep_about-content .EK_Btn-link {
    font-size: 12px;
    line-height: 14px;
  }

  .EK_sep_about-text {
    padding: 0;
  }

  .Ek_shop_navigate .EK_text-H2, .Ek_shop_navigate .EK_Btn-link {
    font-size: 16px;
    line-height: 19px;
  }

  .EK_header {
    min-height: 51px;
  }

  .EK_menu {
    display: none;
  }

  .EK_burgerMenu {
    display: block;
    width: 25px;
    height: 25px;
    z-index: 1;
  }

  .EK_burgermenu-stroke {
    display: block;
    margin-top: 48%;
    width: 25px;
    border-radius: 2px;
    background-color: black;
    height: 1px;
    position: relative;
    z-index: 999;
  }
  .EK_burgermenu-stroke:before {
    transition: 0.5s;
    width: 25px;
    border-radius: 2px;
    background-color: black;
    height: 1px;
    content: "";
    position: absolute;
    top: -8px;
  }
  .EK_burgermenu-stroke:after {
    transition: 0.5s;
    width: 25px;
    border-radius: 2px;
    background-color: black;
    height: 1px;
    content: "";
    position: absolute;
    top: 8px;
  }

  .EK_menuModalCont {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  .EK_menu_760 {
    padding: 0 10px 0 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .EK_menu_760 .EK_sep_line {
    width: 80%;
    margin: 20px 0;
  }

  .Ek_shop_navigate {
    margin: 0 0 30px 0;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 24px;
  }

  .Ek_shop_navigate_link {
    white-space: nowrap;
  }

  .EK_shop_item .EK_sep_line {
    margin: 10px 0 10px 0;
  }

  .EK_shop_item_img {
    margin: 0 0 10px 0;
  }

  .EK_shop_item_desc {
    min-height: 85px;
  }

  .EK_questions_header {
    margin: 0 0 30px 0;
  }

  .EK_questions_social {
    flex-wrap: wrap;
  }

  .EK_questions_icon {
    margin: 0 20px 0 0;
  }

  .EK_questions_text-1 {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .EK_questions {
    min-height: 600px;
    background: #586e58 no-repeat center;
    background-size: 100%;
  }

  .EK_mailing_box {
    width: 100%;
    margin: 0;
    padding: 0 3.5%;
  }

  .EK_questions_sep {
    width: auto;
    margin: 0 3.5%;
    padding: 50px 0 0 0;
  }

  .EK_shop {
    margin: 0 3.5% 0 3.5%;
  }

  .EK_shop_item {
    width: 47.5%;
    margin: 0 5% 50px 0;
  }
  .EK_shop_item:nth-child(3n) {
    margin: 0 5% 50px 0;
  }
  .EK_shop_item:nth-child(2n) {
    margin: 0 0 50px 0;
  }

  .EK_pay_header {
    margin: 0 0 30px 0;
  }

  .EK_pay {
    margin: 0 10.5% 50px 10.5%;
  }

  .EK_footer {
    margin: 0 3.5%;
  }

  .EK_footer_sep {
    display: block;
    margin: 0 0 60px 0;
  }

  .EK_footer_block {
    width: 50%;
  }

  .EK_footer_icon {
    margin: 0 10px 0 0;
  }

  .EK_footer_header {
    margin: 20px 0 15px 0;
  }

  .EK_footer_block-1 {
    float: right;
    padding: 0 0 0 40px;
  }

  .EK_footer_block-2 {
    order: 1;
  }

  .EK_modalBin .modalCloseBatton {
    top: 20px;
    margin: 0 20px 0 0;
  }

  .EK_customer_bin {
    padding: 60px 3.5%;
  }

  .EK_Btn-icon-BIgWhite {
    width: 30px;
    height: 30px;
  }
  .EK_Btn-icon-BIgWhite use {
    width: 30px;
    height: 30px;
  }

  .EK_customer_bin_cart_withoutImg {
    margin: 0 0 0 15px;
    height: 80px;
  }

  .EK_customer_bin_cart-countCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0;
    order: 3;
  }

  .EK_customer_bin_cart-price {
    min-width: 60px;
    order: 2;
  }

  .EK_customer_bin_cart-name, .EK_customer_bin_cart-nameCont {
    width: 100%;
    order: 1;
  }

  .EK_customer_bin_cart-delItem {
    order: 4;
  }

  .EK_customer_bin_cart-btnDel, .EK_customer_bin_cart-btnAdd, .EK_customer_bin_cart-delItem {
    width: 13px;
    height: 13px;
  }

  .EK_customer_bin-payBlock {
    padding: 0 0 0 0;
    margin: 0 10%;
  }

  .EK_customer_bin-check-Box {
    margin: 0 6px 0 25px;
  }

  .EK_customer_bin-header {
    margin: 50px 0 0 0;
  }

  .EK_customer_bin-promo {
    margin: 0 0 80px 0;
  }

  .EK_customer_bin-promoInput {
    margin: 30px 0 20px 0;
    width: 100%;
    height: 36px;
  }

  .EK_customer_bin-promoBtn {
    margin-left: 50%;
    width: 50%;
  }

  .EK_customer_bin-btn {
    margin: 40px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  .EK_sep_about-content {
    background-size: 261px 141px, 700px 315px, 380px 569px;
    background-position: right 180px top 0, left 0 top 120px, left 800px top 0;
  }

  .EK_sep_about-text {
    margin: 0 0 35px 50%;
  }

  .EK_customer_bin {
    max-width: 768px;
  }
}