@media screen and (max-width: 320px) {
    .EK_sep_about-content {
        background-size: 261px 141px, 700px 315px, 380px 569px;
        background-position: right 180px top 0, left 0 top 120px, left 800px top 0;
    }
    .EK_sep_about-text {
        margin: 0 0 35px 50%;
    }
    .EK_customer_bin {
        max-width: 768px;
    }
}
